version: '3'
services:
     androidlink: 
        image: edgesolution/apphub-manager:v1.0.3-beta.1
        restart: always
        depends_on:
                - mqtt
                - db
        volumes:
                - ./manager/logs:/root/adv/manager/logs
                - ./license:/root/adv/license
                - /sys:/sys
                - ./repo/logs:/root/adv/repo/logs
        ports:
                - "8080:8080"
                - "8081:8081"
                - "30001:30001"
        environment:
           TZ: "Asia/Shanghai"
           DATABASE_TYPE: sqlite3
           datacenter: local
           subscriptionId: "123"
           company: "123"
           CHECK_LOCAL_HOST: "true"

        command: /root/adv/run.sh
        container_name: apphub
        networks: 
                - advnet
     mqtt:
        image: edgesolution/apphub-mosquitto:v1.0
        restart: always
        ports: 
                - "1883:1883"
                - "11880:11880"
        container_name: m2m_mosquitto
        networks: 
              - advnet
     db:
        image: edgesolution/apphub-postgres:v1.0
        restart: always
        ports:
                - "5432:5432"
        command:
                - "postgres"
                - "-c"
                - "max_connections=500"
                - "-c"
                - "shared_buffers=1024MB"
                - "-c"
                - "work_mem=131072"
        container_name: m2m-postgresSQL
        networks: 
              - advnet
     novnc:
        image: edgesolution/apphub-novnc:v1.1
        restart: always
        volumes:
                - ./noVnc/log/:/root/adv/log
        ports:
                - "9191:9191"
                - "5901:5901"
                - "5500:5500"
                - "50500-50700:50500-50700"
                - "8024:8024"
        command: /root/adv/run.sh
        container_name: apphub-nat
        networks: 
                - advnet
     minio:
        image: edgesolution/apphub-minio:v1.0
        restart: always
        ports:
                - "9000:9000"
        command: server /data
        container_name: minio
        networks:
                - advnet
networks:
    advnet:
        driver: bridge
        ipam:
             driver: default
             config:
                    - subnet: 172.240.10.0/24
