version: '3'
services:
     androidlink: 
        image: edgesolution/apphub-manager:v2.1.0
        restart: always
        depends_on:
                - mqtt
                - db
        volumes:
                - ./manager/logs:/root/adv/manager/logs
                - ./manager/sql:/root/adv/manager/sql
                - ./license:/root/adv/license
                - /sys:/sys
                - ./repo/logs:/root/adv/repo/logs
        ports:
                - "8080:8080"
                - "8081:8081"
                - "30001:30001"
        environment:
           TZ: "Asia/Shanghai"
           DATABASE_TYPE: sqlite3
           datacenter: local
           subscriptionId: "123"
           company: "123"
           CHECK_LOCAL_HOST: "true"
        env_file:
                - ./.env
        command: /root/adv/run.sh
        container_name: apphub
        networks: 
                - advnet
     ithing:
        image: edgesolution/apphub-ithings:v1.2
        restart: always
        depends_on:
                - mqtt
                - db
                - influxDB
                - androidlink
        volumes:
                - ./ithings/logs:/root/adv/ithings/logs
        ports:
                - "8082:8082"
        environment:
           LOG_PATH: "/root/adv/ithings/logs/ithings.log"
           TZ: "Asia/Shanghai"
        env_file:
                - ./.env
        command: /root/adv/run.sh
        container_name: ithing
        networks:
                - advnet
     mqtt:
        image: edgesolution/apphub-emqx:v1.2
        restart: always
        ports: 
                - "1883:1883"
                - "18083:18083"
                - "8083:8083"
        env_file:
                - ./.env
        container_name: m2m_mosquitto
        networks: 
              - advnet
     db:
        image: edgesolution/apphub-postgres:v1.0
        restart: always
        ports:
                - "5432:5432"
        command:
                - "postgres"
                - "-c"
                - "max_connections=500"
                - "-c"
                - "shared_buffers=1024MB"
                - "-c"
                - "work_mem=131072"
        env_file:
                - ./.env
        container_name: m2m-postgresSQL
        networks: 
              - advnet
     novnc:
        image: edgesolution/apphub-novnc:v1.2
        restart: always
        volumes:
                - ./noVnc/log/:/root/adv/log
        ports:
                - "9191:9191"
                - "5901:5901"
                - "5500:5500"
                - "50500-50700:50500-50700"
                - "8024:8024"
        command: /root/adv/run.sh
        container_name: apphub-nat
        networks: 
                - advnet
     minio:
        image: edgesolution/apphub-minio:v1.0
        restart: always
        ports:
                - "9000:9000"
        volumes:
                - ./minio/data:/data
        command: server /data
        container_name: minio
        networks:
                - advnet
     influxDB:
        image: edgesolution/apphub-influxdb:v1.0
        restart: always
        ports:
                - "8086:8086"
        volumes:
                - ./influxdb:/var/lib/influxdb
        env_file:
                - ./.env
        container_name: m2m-influxdb
        networks:
                - advnet
networks:
    advnet:
        driver: bridge
        ipam:
             driver: default
             config:
                    - subnet: 172.240.10.0/24
